﻿<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="card-content">
                <span class="card-title">Exercise Instructions</span>
                <ol>
                    <li>
                        Enter a series of client records that include the following fields: name, address, and phone numbers <br />
                        Press <strong>Submit</strong> to register the record
                    </li>
                    <li>
                        After a Customer is created, it will be available on the right side of the screen (<em>bottom card for Mobile version</em>) <br />
                        Choose one pick-up location and press the <strong>Envelop</strong> button to send the request <br/>
                        Press the <strong>Recycle Bin</strong> button to remove the Client record
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>