﻿<!DOCTYPE html>
<html lang="en" ng-app="getSwiftApp">
<head>
    <meta charset="utf-8" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico">
    <title>@ViewBag.Title</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" media="screen,projection" />

    <!-- Overidde Materialize CSS -->
    @Styles.Render("~/Content/css")

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- Import Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>
<body ng-controller="MainController">
    <!-- Navigation Bar -->
    @Html.Partial("_NavigationBar")

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
