﻿<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">
            <img src="~/Content/img/logo.png" alt="GetSwift Logo" class="nav-logo" />
        </a>
        <!-- standard menu -->
        <ul class="right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="https://ww.getswift.co">About</a></li>
        </ul>
    </div>
</nav>