﻿<div class="card" ng-init="loadCustomers()">
    <div class="card-content">
        <span class="card-title">Step 02 - Choose Delivery</span>

        <ul class="collection">
            <li class="collection-item" ng-repeat="model in customers">
                <p>
                    <strong>Full Name:&nbsp</strong>{{model.FullName}}&nbsp
                    <strong>Phone:&nbsp</strong>{{model.Phone}} <br />
                    <span>{{model.Address}}</span>
                </p>
                <select style="display:block !important" ng-model="selectedDropOff" ng-init="selectedDropOff = dropOffList[0]">
                    <option ng-repeat="model in dropOffList">{{model}}</option>
                </select>
                <div class="row" style="margin-top:5px;">
                    <button class="btn waves-effect waves-light" type="button" name="action" ng-click="sendToGetSwift(model.Id, selectedDropOff)">
                        Send to GetSwift
                        <i class="material-icons right">email</i>
                    </button>
                    <button class="btn waves-effect waves-light" type="button" name="action" ng-click="deleteCustomer(model.Id)">
                        Delete Customer
                        <i class="material-icons right">delete</i>
                    </button>
                </div>
            </li>
        </ul>

    </div>
    <div class="card-action">
        <button class="btn waves-effect waves-light" type="button" name="action" ng-click="loadCustomers()">
            Refresh
            <i class="material-icons right">sync</i>
        </button>
    </div>
</div>

