﻿<div class="col s12">
    <div class="card" id="logAnchor">
        <a name="logAnchor"></a>
        <div class="card-content">
        <span class="card-title">Step 03 - GetSwift Log</span>
            <div class="row">
                <pre>{{getSwiftLog | json}}</pre>
            </div>
        </div>
    </div>
</div>