﻿<div class="card">
    <div class="card-content">
        <span class="card-title">Step 01 - Create Clients</span>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Full Name" id="full_name" type="text" class="validate" ng-model="customer.fullName">
                <label for="full_name">Full Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">settings_phone</i>
                <input placeholder="Phone Number" id="phone" type="text" class="validate" ng-model="customer.phone">
                <label for="phone">Telephone</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input placeholder="Address" id="address" type="text" class="validate" ng-model="customer.address">
                <label for="address">Full Address</label>
            </div>
        </div>
    </div>
    <div class="card-action">
        <button class="btn waves-effect waves-light" type="button" name="action" ng-click="submitCustomer()">Create Customer
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
