﻿@{
    ViewBag.Title = SwiftBookingTest.Web.Extras.Constants.PAGE_TITLE;
}

<!-- Exercise instructions -->
@Html.Partial("_Instructions")

    <!-- Form and log -->
    <div class="row">

        <!-- Form -->
        <div class="col s12 m6">
            @Html.Partial("_InputForm")
        </div>

        <!-- Log -->
        <div class="col s12 m6">
            @Html.Partial("_CustomersList")
        </div>
    </div>

    <!-- Log -->
    <div class="row">
        @Html.Partial("_GetSwiftLog")
    </div>
    <script type="text/javascript">

    </script>

    <!--
    <h2>GetSwift Code Test</h2>

    <div>
        <input type="text" placeholder="Name" value="" /><br />
        <input type="text" placeholder="Phone" value="" /><br />
        <input type="text" placeholder="Address" value="" /><br />
        <button>Add person</button>
    </div>

    <div>
        <h3>Saved people</h3>
        <ul>
            <li>[BOOK WITH GETSWIFT BUTTON] 123 Some address st, Melbourne, Australia </li>
            <li>[BOOK WITH GETSWIFT BUTTON] 123 Another address st, New York</li>
            <li>[BOOK WITH GETSWIFT BUTTON] 668 Joel St, Brisbane, Australia</li>
        </ul>

    </div>
    <div style="background-color:#eee;padding:20px;">
        Results from the API call go here!
    </div>
    -->
